html,
body {
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 4em;
  color: green;
  font-family: verdana;
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #5C7;
}

p {
 font-size: 16px; 
 font-style: italic;
 text-align: justify;
 }

nav li {
  display: inline;
  font-size: 2em;
  margin-right: 5em;
  
}
nav {
  background-color: rgb(255 255 0);
  padding: 2px;
  <--position: fixed;-->
  }

main {
  position: relative;
  top: 2em;
  margin-bottom: 10px;
  }

img {
  width: 80%;
}
@media (max-width: 350px) {
  img {
    size: 300px;
  }
}

#description {
  text-align: center;
}
footer {
  margin: 100px;
}
